*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    font-size: 100%;
}

body{
    /* background-color:red; */
}
/* header */
.container-header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
}

.nav-left{
    width: 60%;
}

.nav-right{
    width: 40%;
}

.nav-left,
.nav-right{
    float: left;
}

.elements-header-left img{
    vertical-align: middle;
}

.elements-header-left ul,
.elements-header-right ul{
    list-style-type: none;
}

.elements-header-left a,
.elements-header-right a{
    text-decoration: none;
    color: black;
    margin-right: 2.5em;
}

.elements-header-left a,
.elements-header-left li{
    float: left;
}

.elements-header-left li,
.elements-header-right li,
.elements-header-right a{
    font-weight: bold;
}

.elements-header-left{
    margin-left: 1em;
    margin-top: 1.5em;
}

.elements-header-right a,
.elements-header-right li{
    float: left;
}

.elements-header-right{
    margin-top: 1.5em;
}

.btn-blue{
    color: white;
    padding: 5px 20px; 
    background-color: blue;
    font-size: small;
    text-decoration: none;
    text-align: center;
}

.elements-header-right .btn-blue{
    color: white;
    padding: 5px 20px;
    margin-right: 0;
    background-color: blue;
    font-size: small;
}

.btn-blue:hover{
    opacity: 50%;
}

.elements-header-right{
    margin-left: 2em;
}

.container-header li a{
    padding-bottom: 2em;
}

.container-header li:hover a{
    border-bottom: 2px solid black;
}
/* /header */
/* main */
/* section jumbotron */
.jumbotron{
    width: 100%;
    background-color: #B4D0E7;
    padding-top: 10em;
    padding-bottom: 5em;
}

.box-jumbotron{
    width: 80%;
    margin: 0 auto;
}

.content-jumbotron{
    margin-top: 2em;
    position: relative;
}

.jumbotron h1{
    font-size: 4em;
}

.img-jumbotron img{
    width: 50em;
}

.text-jumbotron{
    width: 30%;
}

.text-jumbotron,
.img-jumbotron{
    float: left;
}

.text-jumbotron p:first-child{
    margin-bottom: 1.5em;
}

.text-jumbotron p:last-of-type{
    margin-top: 1em;
    margin-bottom: 2em;
}

.text-jumbotron a:last-of-type{
    color: black;
    font-size: 2.5em;
}

.img-jumbotron{
    max-width: 60%;
    position: absolute;
    right: 5em;
}
/* /section jumbotron */

/* centre */
/* section tariffario */
.centre{
    width: 75%;
    margin: 13em auto;
}

.tariffario h1{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.tariffario form input:last-of-type{
    margin-left: 1em;
}

.professional,
.standard,
.advanced{
    width: calc(100% / 3 - 2.67em);
    border: 1px solid lightgray;
    float: left;
    font-size: 0.9em;
    padding-bottom: 10em;
}

.standard{
    margin: 0 4em;
}

.offers-3{
    margin-top: 2em;
    width: 100%;
}
.icon-offers{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.gray{
    color: gray;
}

.text-offers{
    padding: 1em;
    line-height: 3.5em;
}

.text-offers h2{
    margin-bottom: 1em;
}

.text-offers p:first-of-type{
    line-height: 0;
}

.list-offers{
    padding: 1em;
}

.list-offers li{
    list-style-type: none;
    line-height: 2.5em;
}

.list-offers li i{
    color:blue;
}

.list-offers h4{
    margin-top: 2em;
    margin-bottom: 1em;
}

.button-30gg{
    width: 100%;
    text-align: center;
}

.offers-3 hr{
    margin-left: 1em;
    margin-right: 17em;
}

.text-offers .btn-blue{
    padding: 0.7em 4em;
}

/* /section tariffario */
/* enterprise */
.enterprise{
    width: 100%;
    margin-top: 3em;
    padding-bottom: 1em;
    border: 1px solid lightgray;
}

.icon-enterprise{
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

.title-enterprise{
    width: 50%;
    float: left;
}

.button-enterprise{
    float: right;
}

.button-enterprise .btn-blue{
    padding: 0.6em 6em;
}

.float-enterprise{
    width: 100%;
    margin-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.text-enterprise{
    font-size: 0.9em;
    margin-left: 1.5em;
    line-height: 3em;
}
/* /enterprise */

/* /centre */

/* /main */
.clearfix{
    content: '';
    display: table;
    clear: both;
}